
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body{
    background-color: white;
}
header{
  background-color: rgb(240, 240, 240);
  width: 100%;
}

.header-logo{
    height: auto;
    float: left;
    width: 80px;
}
nav{
    float: right;
    display: inline-block;
}

.header-text{
    font-size:.5in;
    display: inline-block;
    color: #DC143C;
    font-family: 'Lobster', cursive;
    padding-left: 5px;
}
.header-list{
    float: right;
    margin-top: 10px;
    
}
.header-list ul li{
    display: inline-block;
    padding:5px;
    margin: 5px;
    margin-right: 10px;
    
}
.header-list ul li a{
    font-size: x-large;
    font-weight: 100;
    color: rgb(139, 139, 139);
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}
.header-list ul li a:hover{
    color:#DC143C;
    font-weight:bolder;
    font-style: italic;
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    height: 100%;
}

.box{
    width: 500px;
    padding-top: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 20px solid #DC143C;
    justify-content: space-evenly;
}

.box h2{
    color: #fff;
    background: #DC143C;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.des{
    display:block;
    padding-left: 0px;
}

.box .des li{
list-style: none;
font-size: 25px;
padding: 10px;
width: 100%;
background: #fff;
box-shadow: 0 5px 25px rgba(0,0,0,0.1);
transition: transform 0.5s;
font-family: 'Patrick Hand', cursive;
}


.box .des li:hover{
    transform: scale(1.1);
    z-index: 100;
    background:#DB7093;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    color: #fff;
    cursor: pointer;
    
}


.box .des li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #DB7093;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.box .des li:hover span{
    background:#fff ;
    color: #DB7093;
}

main{
    background: url(./Images/div.jpg);
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #fff;
    padding: 12px 30px;
    font-size:x-large;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 15vh;
    letter-spacing: 4px;
    height: 8vh;
    font-family: 'Patrick Hand SC', cursive;
}

.text-box{
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Neuton', serif;
    

}
.hero-btn:hover{
    border: 1px solid #DC143C;
    background: #DC143C;
    transition: 1s;
    color: #fff;
    width: 88%;
}