
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
header{
    background-color: white;
    color: white;
    height: 18%;
    width: 100%;
	z-index: 10;
	position: fixed;
    font-weight: 100;
}

.header-logo{
    font-size: 10px;
    float: left;
    padding-left: 30px;
    padding-top: 0px;

}

li a{
    text-decoration: none;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 20px;
    transition: all ease 0.5s;
}

li{
    float: right;
    padding-left: 30px;
    padding-top: 30px;
    list-style: none;
    padding-right: 40px;
    font-size: 24px;
}

header ul li a:hover{
    background-color:rgba(220,20,60);
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    height: 70%;
}

.box{
    width: 500px;
    padding-top: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 20px solid #DC143C;
}

.box h2{
    color: #fff;
    background: #DC143C;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.box .des li{
list-style: none;
padding: 10px;
width: 100%;
background: #fff;
box-shadow: 0 5px 25px rgba(0,0,0,0.1);
transition: transform 0.5s;
font-family: 'Patrick Hand', cursive;
}


.box .des li:hover{
    transform: scale(1.1);
    z-index: 100;
    background:#DB7093;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    color: #fff;
    cursor: pointer;
    
}


.box .des li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #DB7093;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.box .des li:hover span{
    background:#fff ;
    color: #DB7093;
}

main{
    background: url(./Images/div.jpg);
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #fff;
    padding: 12px 30px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 15vh;
    letter-spacing: 4px;
    height: 8vh;
    font-family: 'Patrick Hand SC', cursive;
}

.text-box{
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Neuton', serif;
    

}
.hero-btn:hover{
    border: 1px solid #DC143C;
    background: #DC143C;
    transition: 1s;
    color: #fff;
    width: 88%;
}