
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

/* Header Starts */

header {
    background-color: white;
    color: white;
    height: 18%;
    width: 100%;
    z-index: 10;
    position: fixed;
    font-weight: 100;
}

nav {
    display: flex;
    padding: 2%, 6%;
    justify-content: space-between;
}

nav img {
    width: 140px;
    padding-left: 20px;
    padding-top: 10px;
}

.nav .header-list {
    flex: 1;
    text-align: right;
}

.header-list ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;

}

.header-list ul li a {
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 20px;
}

.header-list ul li a:hover {
    background-color: rgba(220, 20, 60);
    color: white;
}


nav .fa {
    display: none;
}

@media(max-width:768px) {

    nav img {
        width: 95px;
    }
   
    .header-list ul li {
        display: block;
    }

    .header-list {
        position: absolute;
        background: #FA8072;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -210px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        padding-bottom: 20px;
    }

}

/* Header Ends */

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    padding-top: 20%;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    padding-right: 10px;

}

.left{
	background: url(./Images/help.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    font-family: 'Advent Pro', sans-serif;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color:  	#008B8B;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color:#008B8B;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: rgba(72,61,139);
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

main{
    background: url(../Images/ug.png);
}



/*Footer*/
.sec {
    border-top-left-radius: 40px;
    background: black;
    margin-top: 2%;
    color: #FFB6C1 ;
    height: 200px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-head {
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
}

.bout p{
    font-size: 18px;
    color: white;
    font-weight: 100;
}
.bout {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-top: 1vh;
}

.head {
    padding-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.head:hover{
    color: white;
}
.sci li {
    float: right;
    text-decoration: none;
    list-style: none;
    padding-right: 40px;
    font-size: 30px;
}

.socials {
    display: flex;
    align-items: center;
}

.sci li a {
    color: white;
}

.sci li a:hover {
    transition: 1s;
    box-shadow: inset-1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
}
.sci li i{
     transition: .5s;
}
.sci li i:hover{
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.sci li:nth-child(1) a:hover {

    color: #3b5998;
    transform: translateY(-20%);

}

.sci li:nth-child(2) a:hover {

    color: rgba(188, 42, 141);
    transform: translateY(-20px);

}

.sci li:nth-child(3) a:hover {

    color: #F0E68C;
    transform: translateY(-20px);
}

@media screen and (max-width: 500px) {
    .head {
        padding-left: 15px;
        font-size: 30px;
        font-weight: 550;
    }

    .sci li {
        padding-right: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
    .head {
        padding-left: 7px;
        font-size: 25px;
    }

    .sci li {
        padding-right: 7px;
        font-size: 20px;
    }

    .bout p {
        font-size: 18px;
    }

    .bout {
        padding-left: 2px;
        padding-right: 2px;
    }
}