/*
breakpoints

z: 0px,
sm: 475px,
md: 768px,
lg: 1024px, 
*/

/* ================= */
/* resets            */
/* ================= */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  background-color: transparent;
  border: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  text-decoration: none;
  color: inherit;
}

/* ================= */
/* variables          */
/* ================= */

:root {
  --ff-sans: "Fira Sans", sans-serif;
  --ff-serif: "Merriweather", serif;

  font-size: 13px;
  --fs-ratio: 1.25;
  --base: 1rem;
  --fs-1000: calc(var(--fs-900) * var(--fs-ratio));
  --fs-900: calc(var(--fs-800) * var(--fs-ratio));
  --fs-800: calc(var(--fs-700) * var(--fs-ratio));
  --fs-700: calc(var(--fs-600) * var(--fs-ratio));
  --fs-600: calc(var(--fs-500) * var(--fs-ratio));
  --fs-500: calc(var(--fs-400) * var(--fs-ratio));
  --fs-400: calc(var(--base));
  --measure-60: 60ch;
  --measure-50: 52ch;
  --measure-40: 45ch;
  --measure-30: 32ch;
  --measure-20: 20ch;
  --measure-10: 10ch;

  /* colors */
  --clr-dark-400: #0d0d0d;
  --clr-light-400: #ffffff;
  --clr-accent1-400: #e44040;
  --clr-accent1-100: #fff0f0;
  --clr-accent2-400: #006983;
  --clr-accent2-200: #89e8ff;
}
@media (min-width: 768px) {
  :root {
    font-size: 13.6px;
  }
}

/* ================= */
/* Typography        */
/* ================= */
body {
  font-family: "Merriweather", serif;
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  line-height: 1em;
}

h1 {
  font-size: clamp(3rem, 8vw, 5rem);
  padding-block: 1rem 1.75rem;
  line-height: 0.9em;
}

h2 {
  font-size: var(--fs-1000);
  padding-block: 0.5rem 1rem;
}

.h2-s {
  font-size: var(--fs-900);
  padding-block: 0.5rem 1rem;
}

h3 {
  font-size: var(--fs-700);
  padding-block: 0.5rem 0.5rem;
  color: var(--clr-accent2-400);
}

.subtitle {
  font-size: var(--fs-600);
  padding-block: 0.75rem 0.5rem;
}

p {
  opacity: 0.8;
  padding-block: 0.25rem 0.5rem;
  max-width: var(--measure-60);
}

/* ================= */
/* utils             */
/* ================= */
/* fw -- font-weight */
.fw\:regular {
  font-weight: 400;
}

.fw\:medium {
  font-weight: 500;
}

.fw\:bold {
  font-weight: 700;
}

.fw\:bolder {
  font-weight: 900;
}

.measure\:half {
  max-width: 35ch;
}

.text-align\:center {
  text-align: center;
}
.text-align\:center:where(p) {
  margin-inline: auto;
}
.text-align\:center p {
  margin-inline: auto;
}

@media (min-width: 0px) and (max-width: 768px) {
  .text-align\:center\@sm-only {
    text-align: center;
  }
  .text-align\:center\@sm-only:where(p) {
    margin-inline: auto;
  }
  .text-align\:center\@sm-only p {
    margin-inline: auto;
  }
}

@media (min-width: 0px) and (max-width: 475px) {
  .text-align\:center\@z-only {
    text-align: center;
  }
  .text-align\:center\@z-only:where(p) {
    margin-inline: auto;
  }
  .text-align\:center\@z-only p {
    margin-inline: auto;
  }
}

.bg\:image {
  background-color: #053b61;
  background-blend-mode: soft-light;
  color: var(--clr-light-400);
  background-size: cover;
  background-position: center;
}

.bg\:dark {
  background-color: var(--clr-dark-400);
  color: var(--clr-light-400);
}

.bg\:light {
  background-color: var(--clr-accent1-100);
  color: var(--clr-dark-400);
}

.color\:accent-2 {
  color: var(--clr-accent2-400);
}

.color\:accent-2--light {
  color: var(--clr-accent2-200);
}

.layout\:grid {
  display: grid;
}

.layout\:flex {
  display: flex;
}

.layout\:block {
  --block-gap: 0;
}
.layout\:block > * + * {
  margin-top: var(--block-gap);
}

@media (min-width: 0px) and (max-width: 768px) {
  .layout\:block-flex--md {
    --block-gap: 0;
  }
  .layout\:block-flex--md > * + * {
    margin-top: var(--block-gap);
  }
}
@media (min-width: 768px) {
  .layout\:block-flex--md {
    display: flex;
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .layout\:block-flex--lg {
    --block-gap: 0;
  }
  .layout\:block-flex--lg > * + * {
    margin-top: var(--block-gap);
  }
}
@media (min-width: 1024px) {
  .layout\:block-flex--lg {
    display: flex;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .layout\:block-grid--md {
    --block-gap: 0;
  }
  .layout\:block-grid--md > * + * {
    margin-top: var(--block-gap);
  }
}
@media (min-width: 768px) {
  .layout\:block-grid--md {
    display: grid;
  }
}

@media (min-width: 0px) and (max-width: 475px) {
  .layout\:block-grid--sm {
    --block-gap: 0;
  }
  .layout\:block-grid--sm > * + * {
    margin-top: var(--block-gap);
  }
}
@media (min-width: 475px) {
  .layout\:block-grid--sm {
    display: grid;
  }
}

/* ================= */
/* Components        */
/* ================= */
.logo {
  width: clamp(6.5rem, 9vw, 10rem);
  position: relative;
}
.logo__link {
  display: inline-block;
  outline: none;
  position: relative;
}
.logo__link:focus-visible::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  padding-block: 20%;
  padding-inline: 5%;
  bottom: -20%;
  right: -5%;
  background-color: var(--clr-accent2-400);
}

.list--social {
  gap: 1.75rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .list--social {
    justify-content: space-between;
  }
}

/* buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}
.btn:focus-visible {
  outline: none;
}

.btn--primary {
  letter-spacing: 0.75px;
  background-color: var(--clr-accent1-400);
  color: var(--clr-light-400);
  padding: 0.75rem 2.25rem;
  transition: 450ms background-color;
}
.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--clr-accent2-400);
}

.btn--social {
  transition: transform 250ms;
  position: relative;
}
.btn--social > img {
  height: var(--fs-600);
  object-fit: contain;
  position: relative;
}
.btn--social:hover {
  transform: scale(1.2);
}
.btn--social:focus-visible::before {
  content: "";
  position: absolute;
  height: 200%;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-accent2-400);
}
.btn--arrow {
  display: grid;
  place-content: center;
  position: relative;
}
.btn--arrow svg {
  width: var(--fs-1000);
  aspect-ratio: 1;
  fill: var(--clr-light-400);
  transition: fill 250ms;
  position: relative;
}
@media (min-width: 768px) {
  .btn--arrow svg {
    width: calc(var(--fs-1000) * 1.5);
  }
}
.btn--arrow:hover svg {
  fill: rgba(255, 255, 255, 0.65);
}
.btn--arrow:focus-visible::before {
  content: "";
  position: absolute;
  width: 75%;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-accent2-400);
}

/* cards */
.card__para {
  max-width: var(--measure-30);
}
.card--about {
  grid-template-columns: max-content minmax(
      var(--measure-10),
      var(--measure-30)
    );
  grid-template-rows: min-content 1fr;
  column-gap: 1.25rem;
  place-content: center;
}
.card--about__image {
  margin-top: 0.75rem;
  grid-column: 1;
  grid-row: 1/-1;
}
.card--about__title {
  grid-row: 1;
  grid-column: 2;
}
.card--about__para {
  grid-row: 2;
  grid-column: 2;
}

.card--superhero__image {
  margin-inline: auto;
  margin-bottom: 1.25rem;
}

/* ================= */
/* Layouts           */
/* ================= */
section {
  padding-block: 1.25rem 8rem;
}

header {
  padding-block: 1.25rem;
}

footer {
  padding-block: 2.5rem;
}

/* container */
.container > * {
  padding-inline: 1.25rem;
}
@media (min-width: 768px) {
  .container > * {
    width: 95%;
    margin-inline: auto;
    max-width: 900px;
  }
}
@media (min-width: 1024px) {
  .container > * {
    width: 90%;
    max-width: 1150px;
  }
}

/* heaeder */
.header--primary {
  margin-bottom: 6rem;

  justify-content: space-between;
  align-items: flex-start;
}
.header--superhero {
  margin-bottom: 10rem;
}
.header--about {
  margin-bottom: 1rem;
}

.nav ul {
  list-style: none;
  --block-gap: 1.5rem;
  gap: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-link {
  font-family: var(--ff-sans);
  text-decoration: none;
  color: var(--clr-light-400);
  font-weight: 600;
  font-size: var(--fs-700);
  letter-spacing: 0.5px;
}
.nav-link:hover,
.nav-link:focus {
  opacity: 0.6;
  transition: opacity 250ms;
}

.nav-link.current-page {
  border-bottom: 2px solid var(--clr-light-400);
  opacity: 1;
}

.nav {
  background: var(--clr-dark-400);
  color: var(--clr-light-400);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
}
.nav-opened {
  transform: translateX(0%);
}

/* nav toggle button */
.close-nav,
.open-nav {
  cursor: pointer;
  background: 0;
  border: 0;
  color: var(--clr-light-400);
  font-size: 3.25rem;
  display: block;
}
.close-nav {
  margin: 1.5rem;
  margin-left: auto;
}
.open-nav {
  padding: 0;
  margin-left: auto;
}

@media (min-width: 768px) {
  .close-nav {
    display: none;
  }
  .open-nav {
    display: none;
    margin: 0;
  }

  .nav {
    background-color: unset;
    position: static;
    transition: none;
    transform: none;
  }

  .nav-link {
    font-size: var(--fs-500);
  }
}

/* footer */
.footer--primary {
  grid-template-columns: minmax(0, 1fr) max-content;
  grid-template-rows: max-content 1fr;
  row-gap: 1.5rem;
  --block-gap: 2rem;
}
.footer--primary h2,
.footer--primary p {
  padding: 0;
}
.footer--primary__para {
  width: clamp(var(--measure-30), 75%, var(--measure-60));
}
.footer--primary__socials {
  align-self: center;
  justify-self: stretch;
}
.footer--primary__cta {
  justify-self: stretch;
  align-self: flex-end;
}

/* ======home====== */

/* hero section */
.home__hero {
  background-image: url("assets/home/mobile/bg_intro.png");
  max-height: 850px;
}
@media (min-width: 768px) {
  .home__hero {
    background-image: url("assets/home/tablet/bg_intro.png");
  }
}
@media (min-width: 1024px) {
  .home__hero {
    background-image: url("assets/home/desktop/bg_intro.jpg");
  }
}
.home__intro {
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 1024px) {
  .home__intro {
    grid-template-columns: 3fr 2fr;
  }
}
.home__intro > * {
  grid-column: 2;
}
.home__intro .btn {
  margin-top: 1.5rem;
}

/* About section */
.home__about__main {
  --block-gap: 3rem;
  row-gap: 3rem;
  column-gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, max-content));
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}
.home__about__main > * {
  grid-column: span 1;
  grid-row: span 1;
}

/* superhero section */
.home__superhero__container {
  background-image: url("assets/home/mobile/bg_superhero.jpg");
}
@media (min-width: 768px) {
  .home__superhero__container {
    background-image: url("assets/home/tablet/bg_superhero.png");
  }
}
@media (min-width: 1024px) {
  .home__superhero__container {
    background-image: url("assets/home/desktop/bg_superhero.jpg");
  }
}

.home__superhero__main {
  place-content: center;
  column-gap: 1rem;
  grid-template-columns:
    max-content minmax(var(--measure-20), calc(var(--measure-30) + 12em))
    max-content;
}
.home__superhero__main .card--superhero {
  grid-column: 2;
  grid-row: 1;
}
.home__superhero__main .btn {
  align-self: center;
}

/*# sourceMappingURL=index.css.map */
