@use "../abstracts/functions" as *;

.bg\:image {
  background-color: hsl(205, 90%, 20%); // 20% lightness was default
  background-blend-mode: soft-light;
  color: clr(light);

  background-size: cover;
  background-position: center;
}

.bg\:dark {
  background-color: clr(dark);
  color: clr(light);
}

.bg\:light {
  background-color: clr(accent-1, 100);
  color: clr(dark);
}

.color\:accent-2 {
  color: clr(accent-2);
}
.color\:accent-2--light {
  color: clr(accent-2, 200);
}
