<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../Styles/Register.css'>
    <link rel="icon" href='../Images/bb_logo(black).png' type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<title>Start Saving Lives </title>
<body>
<header>
    <nav>
    <div class="header-logo"><a href="../index.html"><img src="../Images/bb_logo(black).png"></div></a>
    <div class="header-list">
        <ul>
            <li><a href="index.html">Get Help</li></a>
            <li><a href="index.html">Donate</li></a>
            <li><a href="index.html">Volunteer</li></a>
            <li><a href="index.html">About Us</a></li>
            </ul>
    </div>
    </nav>
</header>
<div class="inner  ">
  <div class="photo ">
    <img src="../Images/regphoto.png">
  </div>
  <div class="user-form" style="padding:20px;">
    <h1>Start Saving Lives</h1>
    <form>
        <div class="row">
          <div class="col-6">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="First Name">
          </div>
          <div class="col-6">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Last Name">
          </div>
        </div>
        <br>
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Blood Group Needed">
        <br>
        <br>
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Age">
        <br>
        <br>
        <i class="fas fa-envelope-square"></i>
        <input type="email" placeholder="E-mail">
        <br>
        <br>
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" id="password_data">
        <div class="safety" style="font-family: sans-serif; font-size: 20px;">
            Enter Password
        </div>
        <div class="action-btn">
            <button class="btn primary">Create Account</button>
            <button class="btn">Skip</button>
        </div>
    </form>
  </div>
</div>
<!-- <div class="inner row">
    <div class="photo col-6">
        <img src="../Images/regphoto.png">
    </div>
    <div class="user-form col-6" >
        <h1>Start Saving Lives</h1>
        <form>
            <i class="fas fa-user icon"></i>
            <div class="row">
              <div class="col-6">
                <input type="text" placeholder="First Name">
              </div>
              <div class="col-6">
                <input type="text" placeholder="Last Name">
              </div>
            </div>
            <input type="text" placeholder="Name">
            <br>
            <div class="row">
              <div class="col-lg-6">
                <select name="ask_gender" class="form-control">
                  <option value="">Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="others">Others</option>
                </select>
              </div>
              <div class="col-lg-6">
                <label for="">Phone Number</label>
                <input type="number" name="ask_mobile" id="" class="form-control" placeholder="Enter your phone number">
              </div>
            </div>
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Blood Group Needed">
            <br>
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Name">
            <br>
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Name">
            <br>
            <i class="fas fa-envelope-square"></i>
            <input type="email" placeholder="E-mail">
            <br>
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" id="password_data">
            <div class="safety" style="font-family: sans-serif; font-size: 20px;">
                Enter Password
            </div>
            <div class="action-btn">
                <button class="btn primary">Create Account</button>
                <button class="btn">Skip</button>
            </div>
        </form>
    </div> -->
<!-- </div> -->
<script src="../Javascript/Register.js" ></script>
</body>
</html>
