<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../Styles/Register.css'>
    <link rel="icon" href='../Images/bb_logo(black).png' type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<title>Start Saving Lives </title>
<body>
<header>
    <nav>
    <div class="header-logo"><a href="../index.html"><img src="../Images/bb_logo(black).png"></div></a>
    <!-- <div class="header-logo"> <img href="index.html" src="../Images/bb_logo(white).png"> -->
    <div class="header-list">
        <ul>
            <li><a href="index.html">Get Help</li></a>
            <li><a href="index.html">Donate</li></a>
            <li><a href="index.html">Volunteer</li></a>
            <li><a href="index.html">About Us</a></li>
            </ul>
    </div>
    </nav>
</header>

<div class="inner" >
    <div class="photo">
        <img src="../Images/regphoto.png">
    </div>
    <div class="user-form" >
        <h1>Start Saving Lives</h1>
        <a class="hero-btn btn primary" style="text-align:center;" href="../Views/Reg_volunteer.html">Register As Volunteer</a>
        <br>
        <br>
        <a class="hero-btn btn primary" style="text-align:center;" href="../Views/Reg_askhelp.html">Ask Help</a>
    </div>
</div>
<script src="../Javascript/Register.js" ></script>
</body>
</html>
