/* cards */
.card__para {
  max-width: var(--measure-30);
}
.card--about {
  grid-template-columns: max-content minmax(
      var(--measure-10),
      var(--measure-30)
    );
  grid-template-rows: min-content 1fr;
  column-gap: 1.25rem;
  place-content: center;
}
.card--about__image {
  margin-top: 0.75rem;
  grid-column: 1;
  grid-row: 1/-1;
}
.card--about__title {
  grid-row: 1;
  grid-column: 2;
}
.card--about__para {
  grid-row: 2;
  grid-column: 2;
}

.card--superhero__image {
  margin-inline: auto;
  margin-bottom: 1.25rem;
}
