.fw\:regular {
  font-weight: 400;
}

.fw\:medium {
  font-weight: 500;
}

.fw\:bold {
  font-weight: 700;
}

.fw\:bolder {
  font-weight: 900;
}

.measure\:half {
  max-width: 35ch;
}

.text-align\:center {
  text-align: center;
}
.text-align\:center:where(p) {
  margin-inline: auto;
}
.text-align\:center p {
  margin-inline: auto;
}

@media (min-width: 0px) and (max-width: 768px) {
  .text-align\:center\@sm-only {
    text-align: center;
  }
  .text-align\:center\@sm-only:where(p) {
    margin-inline: auto;
  }
  .text-align\:center\@sm-only p {
    margin-inline: auto;
  }
}

@media (min-width: 0px) and (max-width: 475px) {
  .text-align\:center\@z-only {
    text-align: center;
  }
  .text-align\:center\@z-only:where(p) {
    margin-inline: auto;
  }
  .text-align\:center\@z-only p {
    margin-inline: auto;
  }
}
