@use "../abstracts" as *;

.logo {
  width: clamp(6.5rem, 9vw, 10rem);
  position: relative;

  &__link {
    display: inline-block;
    outline: none;
    // focus-visible
    position: relative;
    &:focus-visible {
      &::before {
        content: "";
        position: absolute;

        height: 100%;
        width: 100%;

        box-sizing: content-box;
        padding-block: 20%;
        padding-inline: 5%;

        bottom: -20%;
        right: -5%;

        background-color: clr(accent-2);
      }
    }
  }
}
