@use "../abstracts" as *;

.home__hero {
  background-image: url("assets/home/mobile/bg_intro.png");
  @include media("md") {
    background-image: url("assets/home/tablet/bg_intro.png");
  }
  @include media("lg") {
    background-image: url("assets/home/desktop/bg_intro.jpg");
  }
  max-height: 850px;
}

.home__intro {
  grid-template-columns: repeat(2, 1fr);
  @include media("lg") {
    grid-template-columns: 3fr 2fr;
  }
  & > * {
    grid-column: 2;
  }

  .btn {
    margin-top: 1.5rem;
  }
}
