@use "../abstracts" as *;

section {
  padding-block: 1.25rem 8rem;
}
header {
  padding-block: 1.25rem;
}
footer {
  padding-block: 2.5rem;
}

.container {
  & > * {
    padding-inline: 1.25rem;
    @include media("md") {
      width: 95%;
      margin-inline: auto;
      max-width: 900px;
    }
    @include media("lg") {
      width: 90%;
      max-width: 1150px;
    }
  }
}
