$breakpoints: (
  z: 0px,
  sm: 475px,
  md: 768px,
  lg: 1024px,
);

$colors: (
  dark: (
    400: hsl(0, 0%, 5%),
  ),
  light: (
    400: hsl(0, 0%, 100%),
  ),
  accent-1: (
    400: #e44040,
    100: #fff0f0,
  ),
  accent-2: (
    400: #006983,
    200: #89e8ff,
  ),
);
