.container > * {
  padding-inline: 1.25rem;
}
@media (min-width: 768px) {
  .container > * {
    width: 95%;
    margin-inline: auto;
    max-width: 900px;
  }
}
@media (min-width: 1024px) {
  .container > * {
    width: 90%;
    max-width: 1150px;
  }
}
