footer {
  padding-block: 2.5rem;
}

.footer--primary {
  grid-template-columns: minmax(0, 1fr) max-content;
  grid-template-rows: max-content 1fr;
  row-gap: 1.5rem;
  --block-gap: 2rem;
}
.footer--primary h2,
.footer--primary p {
  padding: 0;
}
.footer--primary__para {
  width: clamp(var(--measure-30), 75%, var(--measure-60));
}
.footer--primary__socials {
  align-self: center;
  justify-self: stretch;
}
.footer--primary__cta {
  justify-self: stretch;
  align-self: flex-end;
}
